body {
  background: #ffebc9;
  font-family: "PT Mono", monospace;
}

form {
  text-align: center;
  padding: 0px;
  margin-top: 0px;
}
button {
  display: block;
  margin: 10px auto;
}
h1 {
  color: #753422;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

footer {
  text-align: center;
}

.main-icon {
  width: 100px;
}

.weather-app-wrapper {
  background: #e9d2a2;
  margin: 80px 221px 10px;
  max-width: 60%;
  padding: 80px 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.submit-city,
.current-location {
  padding: 2px;
  border: 0.5px thin grey;
  border-radius: 5px;
  background: #ffebc9;
  color: #753422;
  transition: all 200ms ease-in-out;
}

.submit-city:hover,
.current-location:hover {
  color: white;
  background: #753422;
  cursor: pointer;
}

.weather-description {
  text-transform: capitalize;
}

.main-descriptors {
  color: #b05b3b;
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.weather-temperature {
  color: #753422;
  font-size: 48px;
}

.weather-attributes {
  color: #b05b3b;
  list-style-type: none;
}

.temperature .active {
  color: #b05a3b;
  text-decoration: none;
  cursor: default;
}

.weather-forecast {
  margin-top: 15px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
}

.forecast-temps {
  font-size: 13px;
}

.forecast-min {
  opacity: 0.5;
}
